<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.niupiao.deliveryapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="your_key"/>

        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".SlidingTab.MainTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".Deliveries.DeliveryPagerActivity"
            android:label="Delivery">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SlidingTab.MainTabActivity"/>
        </activity>

    </application>

</manifest>
